
body{
    background-image:linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url(./../assets/imagenes/peaky\ blinder\ 2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
