
@import"variables";
@import"reset";
@import"main";
@import"header";
@import"body";
@import"footer";
@import"main_unirse";
@import"main_tienda";
@import"main_index";


@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Serif:wght@100 & display=swap');










/*General*/

/*.cabezera2{
    background-color: #000000b5;}

.cabezera2 .titulo1{
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.733)}        
                     
.cabezera2 .parrafo1{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'IBM Plex Serif', serif;;
    text-align: center ;
    text-shadow: 10px 10px 10px rgb(0, 0, 0)}

.cabezera2 .textogris{
    color: black;
    background-color: darkgray;
    font-family:'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    padding: 5px;}

.cabezera2 .textoblanco{
    color: white;
    font-size: 1.3rem;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    text-shadow: 1px 1px 10px black;}

.cabezera2 .nav{
    background-color: black;
    color: darkgray;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 100px;}*/

/*.navegacion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;}
.navegacion .navegacion2{
    background-color: black;
    color: darkgray;
    border: 1px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 1,2rem;
    text-decoration: none;
    margin: 4px;
    margin-top: 0px;
}*/

/*nav ul {
    text-decoration: none;
    color: darkgray;
    list-style-type: none;}

nav ul li a {
    text-decoration: none;
    color: darkgray;}

nav ul li a:hover{
    color: rgb(255, 255, 255);}

nav li{
    display: inline-block;}*/

 

/*div a{
    text-decoration: none;
    color: darkgray;}

div a:hover{
    color: rgb(255, 255, 255);}*/


/*.captus{
    width: 1800px;
    height: 400px;
}   
.captus img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 12px rgba(255, 255, 255, 0.632);
    display: flex;
    justify-content: center;
    align-items: center;
}
.captus h1{
    position: relative;
    top: -100%;
    left: 2%;}

.captus p{
    position: relative;
    top: -80%;
    left: 0%;}


/*tienda*/

/*.mover1 .tarjeta2.tarjeta1 {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; }
      
.tarjeta2:hover .tarjeta1 {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease; }
      
.tarjeta2:hover .card-img-top {
    opacity: 0.5;
    transition: opacity 0.1s ease; }
      
.mover1 .tarjeta2.card-img-top {
    transition: opacity 0.5s ease; }

.mover1.libro{
    font-family: 'IBM Plex Serif', serif;
    font-weight: arial;
    color: white;
    text-align: center;} 
.mover1{
        position: relative;
        left: -3%;}*/

 

    /*mediaquaries*/
   
   
    @media screen and (max-width: 600px){
        .navegacion{
                
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;} 
                    
        .cabezera2 .parrafo1{
            width: 100%;     
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-family: 'IBM Plex Serif', serif;;
            text-align: center ;}
        
        .captus img{
            width: 100%;
            height: 80%;
            border-radius: 10px;
            box-shadow: 5px 10px 12px rgba(255, 255, 255, 0.632);
            display: flex;
            justify-content: center;
            align-items: center;}
        
        .cabezera2 .titulo1{
            overflow: hidden;
            position: relative;
            top: -80%;
            color: black;
            font-family: 'IBM Plex Serif', serif;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: left;
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.733)} 
        
        .cabezera2 .textogris{
            color: black;
            background-color: darkgray;
            font-family:'IBM Plex Serif', serif;
            font-weight: bold;
            font-size: 1.5rem;
            text-align: center;
            border-radius: 10px;
            padding: 5px;}
                                
        .cabezera2 .textoblanco{
            color: white;
            font-size: 1rem;
            font-family: 'IBM Plex Serif', serif;
            text-align: center;
            text-shadow: 1px 1px 10px black;}
        
        .mover{
            position: relative;
            left: 2%;}
        .mover1{
            position: relative;
            left: 7%;}
        
        .formu{
            position: relative;
            left: 30%;}
        
        .imagenfolmulario {

            width: 95%;} }
        
        @media screen and (max-width: 1024px){
        
        .mover{
            position: relative;
            left: 3%;}
        .mover1{
            position: relative;
            left: -9%;} }
           
        